module_2/stud_math - Copy (6).ipynb
module_2/stud_math - Copy (2).ipynb
module_2/stud_math - Copy (3).ipynb
module_2/stud_math - Copy (4).ipynb
module_2/stud_math - Copy (5).ipynb
module_2/qq.ipynb
module_2/stud_math - Copy.ipynb
